@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display: flex;
    /* gap: 1rem; */

    /* justify content is for left to right */


    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;

    /* align items is for top to bottom */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;


    /* flex direction is for the direction of the flex items  */

    /* flex-direction: column; */

    /* flex-direction: row; */


    /* flex-direction: row-reverse;
    flex-wrap: wrap; */

    /* short hand for above two is flex flow  */
    /* flex-flow: row wrap; */

    /* for flex shrink implementation below  */
    flex-flow: row nowrap;

    /* for the arrangement of items when flex wrap is wrapping while shrinking or expanding */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    align-content: space-evenly;

    /* for flex grow */
    gap: 1rem;
}

.box {
    /* min-width: 100px; */
    /* min-height: 100px; */
    height: 100px;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex-grow: 1;
    flex-basis: 100px; */

    /* for flex shrink  */
    /* flex-shrink: 1;
    flex-basis: 100px; */

    /* for flex grow shrink and basis  */
    flex: 1 1 150px;
}

.box:nth-child(2) {
    /* flex-grow: 2; */

    /* for flex shrink  */
    /* flex-shrink: 2; */

    /* for flex grow shrink and basis  */
    flex: 2 2 150px;

    /* order property  */
    order: 4;
}